/* fira-mono-regular - latin */
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/fira-mono/fira-mono-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fira-mono/fira-mono-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/inter/inter-v3-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter/inter-v3-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/inter/inter-v3-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter/inter-v3-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter/inter-v3-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter/inter-v3-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter/inter-v3-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter/inter-v3-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*  
   @author : shihab PM 
  description : MOBILE FIRST APPROACH APPLIES TILL THE SCREEN SIZE OF 600PX
*/

:root {
  /*  colors */
  --navy-blue: #0a192f;
  --navy-blue-dark: #0f1d31;
  --text-light: #ddd;
  --text-lighter: #ccc;
  --text-lightest: #fff;
  --text-dark: #444;
  /* --radium-green: #64ffb7;*/
  --radium-green: #9affd8;
  --chalk: #8892b0;
  --light-chalk: #a8b2d1;
  --lightest-chalk: #ccd6f6;

  --font-sans: "Inter", sans-serif, -apple-system, system-ui;
  --font-mono: "Fira Mono", "Roboto Mono", monospace;

  --font-size-base-sm: 1rem; /*base 12px */
  --font-size-base-md: 1.167; /* 14px */
  --font-size-base-xl: 1.333; /* 16px */
  --font-size-hero-sm: 3.33333rem; /* 40px */
  --font-size-hero-md: 3.33333rem; /* 40px */

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-boldest: 900;

  /*Line heights*/

  /* margins */
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-xxl: 50px;

  /* conatiner vars */
  --container-md: 1.5625rem;

  /* app level vars */
  --app-bg-color-primary: var(--navy-blue);
  --app-text-primary-color: var(--text-lighter);
  --app-primary-font: var(--font-sans);
  --app-secondary-font: var(--font-mono);
  --app-radium-color: var(--radium-green);

  --app-fsz-xxs: 1rem; /* 12px */
  --app-fsz-xs: 1.083rem; /* 13px */
  --app-fsz-sm: 1.167rem; /* 14px*/
  --app-fsz-md: 1.333rem; /* 16px */
  --app-fsz-lg: 1.5rem; /* 18px */
  --app-fsz-xl: 1.667rem; /* 20px */
  --app-fsz-xxl: 1.833rem; /* 22px */
  --app-fsz-xxxl: 2rem; /* 24px*/
  --app-fsz-heading: 2.667; /* 32px */

  --app-opacity-sm: 0.8;
  --app-opacity-md: 0.7;
  --app-opacity-lg: 0.6;
  --app-opacity-xl: 0.5;

  --app-color-heading: var(--lightest-chalk);
  --app-color-subheading: var(--light-chalk);
  --app-color-paragraph: var(--chalk);

  --app-lh-sm: 1.4;
  --app-lh-md: 1.5;
  --app-lh-lg: 1.7;
  --app-lh-xl: 1.8;
  --app-lh-xxl: 2;

  /* transition */
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.app-color-heading {
  color: var(--app-color-heading);
}
.app-color-subheading {
  color: var(--app-color-subheading);
}

.app-color-paragraph {
  color: var(--app-color-paragraph);
}

.app-fsz-hero {
  font-size: clamp(40px, 8vw, 80px);
}

.app-fsz-paragraph {
  font-size: clamp(13px, 1.6vw, 16px);
}
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #444 0f1d31;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

html {
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  font-size: 12px;
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  background: var(--app-bg-color-primary);
  color: var(--app-color-heading);
  font-size: var(--app-fsz-xs);
  font-family: var(--app-primary-font);
  counter-reset: li;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--app-color-heading);
}
a:hover {
  transition: all 0.3s ease-in;
  color: var(--app-radium-color);
}

/* Works on Firefox */

*::-webkit-scrollbar-track {
  background: #0f1d31;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20px;
  border: 3px solid #0f1d31;
}

/* App */
header.primary--header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #ddd;
}

footer.primary--footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background: transparent;
}

.modal {
  z-index: 9999;
}

.modal .modal--overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 9999;
  background: var(--app-bg-color-primary);
  display: grid;
  align-items: center;
  justify-content: center;
}
/* Splash Screen Component CSS*/
.logo--animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo--animation .logo {
  font-size: 2rem;
}

.modal .modal-body {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%); */
}

.loader.loader--splash {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  transition: all 2s linear;
}
.page-loader {
  height: 10rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.base-stack-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Critical CSS Ends here */

/*
* ================== UTILITY CSS ======
*/
.opacity-md {
  opacity: var(--app-opacity-md);
}
.opacity-lg {
  opacity: var(--app-opacity-lg);
}
.app-lh-sm {
  line-height: var(--app-lh-sm);
}
.app-lh-md {
  line-height: var(--app-lh-md);
}
.app-lh-lg {
  line-height: var(--app-lh-lg);
}
.app-lh-xl {
  line-height: var(--app-lh-xl);
}
.app-lh-xxl {
  line-height: var(--app-lh-xxl);
}
.text-xxs {
  font-size: var(--app-fsz-xxs);
}
.text-xs {
  font-size: var(--app-fsz-xs);
}
.text-sm {
  font-size: var(--app-fsz-sm);
}
.text-md {
  font-size: var(--app-fsz-md);
}
.text-lg {
  font-size: var(--app-fsz-lg);
}
.text-xl {
  font-size: var(--app-fsz-xl);
}
.text-xxl {
  font-size: var(--app-fsz-xxl);
}
.text-xxxl {
  font-size: var(--app-fsz-xxxl);
}
.text-heading {
  font-size: var(--app-fsz-heading);
}
.hide {
  display: none;
  opacity: 0;
}

.gradual-decedent {
  background-color: transparent !important;
  transition: background-color 1s ease-out;
}

img.responsive {
  display: block;
  max-width: 100%;
}
.app-position-rel {
  position: relative;
}

.primary-padding-allround {
  padding: clamp(15px, 3vw, 24px) clamp(25px, 4vw, 40px);
}

.primary-padding-unblock {
  /* padding: 0 clamp(25px, 4vw, 40px); */
  padding: 0 clamp(20px, 8vw, 100px);
}

.hero-text {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: rgb(204, 214, 246);
}

.margin-top-sm {
  margin-top: var(--margin-sm);
}
.margin-top-md {
  margin-top: var(--margin-md);
}
.margin-top-xxl {
  margin-top: var(--margin-xxl);
}

.mono-font {
  font-family: var(--app-secondary-font);
}
.sans-font {
  font-family: var(--app-primary-font);
}

.btn {
  border-radius: 4px;
  font-family: var(--app-secondary-font);
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn.btn-lg {
  padding: clamp(14px, 2vw, 20px) clamp(14px, 3vw, 30px);
}
.btn.btn-md {
  padding: 12px 20px;
}
.btn.btn-primary {
  background: transparent;
  color: var(--app-radium-color);
  border: 1px solid var(--app-radium-color);
}
.btn:hover {
  background: #6a776f2e;
}

.text-radium {
  color: var(--app-radium-color);
}
a {
  font-family: var(--app-secondary-font);
  text-decoration: none;
  font-size: clamp(10px, 1.3vw, 13px);
}
:focus {
  outline: 2px dashed var(--app-radium-color);
  outline-offset: 10px;
  transition: all 0.1s ease-in;
}
/*
* ================== UTILITY CSS / ENDS -->
*/

/* ======  HEADER COMPONENT CSS ========= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(10, 25, 47, 0.85);
}

header > nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

header > nav ul > li {
  margin-left: clamp(20px, 3.5vw, 35px);
}

header > nav ul > li > a::before {
  counter-increment: li;
  content: "0" counter(li) ".";
  color: var(--app-radium-color);
  margin-right: 4px;
  text-align: right;
}

/* Info Card component */
.hero__section-description {
  max-width: 550px;
  font-weight: 300;
  font-size: clamp(var(--app-fsz-xs), 1.8vw, var(--app-fsz-md));
}
/* Page LAyout Css*/
.section {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

/* Email Component */
.email__component {
  writing-mode: vertical-lr;
  position: fixed;
  bottom: 100px;
  right: clamp(5px, 2vw, 20px);
  letter-spacing: 2px;
  cursor: pointer;
  font-size: clamp(7px, 1.2vw, 1rem);
}
.floating-component::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  margin-top: 10px;
  background: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
}

/* Social component*/
.social-component {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: clamp(5px, 2vw, 20px);
  bottom: 100px;
}
.social-component .media {
  margin-bottom: 25px;
  list-style: none;
}
/* ICN */
.gg-menu-right {
  transform: scale(var(--ggs, 1));
}

.gg-menu-right,
.gg-menu-right::after,
.gg-menu-right::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

.gg-menu-right::after,
.gg-menu-right::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px;
}

.gg-menu-right::after {
  top: 6px;
  width: 14px;
}
.floating-component {
  transition: all 0.3s ease-in;
}
.floating-component:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease-out;
}
/* media queries*/
/* @media screen and (min-width: 200px) and (max-width: 600px) {
  #menu {
    display: none;
  }
} */

@media screen and (min-width: 600px) {
  #mobile-menu {
    display: none;
    opacity: 0;
  }
  #menu {
    display: flex;
    opacity: 1;
  }
  .floating-component {
    display: block !important;
    opacity: 1;
  }
}
