/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v22-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Playfair Display"), local("Playfair-Display"),
    url("../fonts/playfair-display-v22-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/playfair-display-v22-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/playfair-display-v22-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/playfair-display-v22-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/playfair-display-v22-latin-regular.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/nunito-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/nunito-v16-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/nunito-v16-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/nunito-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/nunito-v16-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}

:root {
  /*  colors */
  --navy-blue: #0a192f;
  --navy-blue-dark: #0f1d31;
  --text-light: #ddd;
  --text-lighter: #ccc;
  --text-lightest: #fff;
  --text-dark: #444;
  --font-size-default-xl: 16px;
  /* conatiner vars */
  --container-md: 2rem;

  /* app level vars */
  --bg-color-primary: var(--navy-blue);
  --fnt-primary-color: var(--text-lighter);
  --container-padding: var(--container-md);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #444 0f1d31;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

html {
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  font-size: var(--font-size-default-xl);
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  background: var(--bg-color-primary);
  color: var(--fnt-primary-color);
}

/* Works on Firefox */

*::-webkit-scrollbar-track {
  background: #0f1d31;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20px;
  border: 3px solid #0f1d31;
}

/* App */
header.primary--header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #ddd;
}

footer.primary--footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background: #ccc;
}

.modal {
  z-index: 9999;
}

.modal .modal--overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 9999;
  background: var(--bg-color-primary);
  display: grid;
  align-items: center;
  justify-content: center;
}
/* Splash Screen Component CSS*/
.logo--animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo--animation .logo {
  font-size: 2rem;
}

.modal .modal-body {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%); */
}

.loader.loader--splash {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  transition: all 2s linear;
}
.page-loader {
  height: 10rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.base-stack-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--container-padding);
}
/* Critical CSS Ends here */

/*
* ================== UTILITY CSS ======
*/
.hide {
  display: none;
  opacity: 0;
}

.gradual-decedent {
  background-color: transparent !important;
  transition: background-color 1s ease-out;
}

img.responsive {
  display: block;
  max-width: 100%;
}

/*
* ================== UTILITY CSS / ENDS -->
*/
.app-position-rel {
  position: relative;
}
/* ======  HEADER COMPONENT CSS ========= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: var(--container-padding);
}

header > nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

header > nav ul > li {
  margin-left: 15px;
}

/* Page LAyout Css*/
.section {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

/* Intro section */
/* #intro h1 {
  font-size: 5rem;
}
#intro h3 {
  font-size: 2.5rem;
} */
