/*
* TYPOGRAPHY 
* COLORS
* BG colors
* transition
* animation defaults
/


/*
*  ==== == == === = == = = = = = = === = =  critical css
*/

/*
*  ======================= critical css / Ends ----- >
*/

/*
* ================== UTILITY CSS ======
*/
.hide {
  display: none;
  opacity: 0;
}
.gradual-decedent {
  background-color: transparent !important;
  transition: background-color 1s ease-out;
}
/* Responsive image css */
img {
  display: block;
  max-width: 100%;
}
/*
* ================== UTILITY CSS / ENDS -->
*/
